.App {
  text-align: center;
}
.App .header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hsisco-card .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}
.hsisco-card .card-img-top {
  width: 40%;
  border-radius: 50%;

}
.hsisco-card .card-title {
  font-size: 2rem;
}
.hsisco-card .card-body {
  width: 60%;
  text-align: left;
  padding: 3vw
}
.follower-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 250px;
  margin: 0 auto;
}
.follower-card .card-img-top {
  width: 80%;
  border-radius: 50%;
}
.follower-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  margin: 0
}
